<div class="d-flex justify-content-center">
  <div>
    <input
      type="text"
      [formControl]="username"
      placeholder="Enter Student id"
    />
    <br />
    <input
      type="password"
      [formControl]="password"
      placeholder="Enter Password"
    />
    <br />
    <button (click)="onSubmit()">Submit</button>
  </div>
  <br />
  <div *ngIf="isValidate">
    <p>รหัสผ่านถูกต้อง</p>
    <label>ยอดจำนวนผู้เข้าร่วม</label>
    {{ count }}
  </div>
  <div *ngIf="!errorMsg">
    ข้อมูลผิดพลาด
  </div>
  <br />
  <div *ngIf="!warningMsg">
    รหัสนี้ได้เข้าสู่ระบบแล้ว
  </div>
</div>
